* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 200px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}


.left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.left img {
  height: 50px;
}

.left p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  cursor: pointer;
  color: white;
  margin: 0;
  padding: 8px 12px;

}


.left .special-para:hover {
  background-color: #232a35;
}

.menu-item {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  color: #000;
  width: 62vw;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 999;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 18px;
}

.dropdown-section h4 {
  margin-bottom: 35px;
  font-size: 17px;
  color: #111827;
  font-weight: 700;
}

.head-rowd {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

.first-rowd {
  max-width: 200px;
}

.first-rowd .title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #000;
}

.first-rowd .title:hover {
  color: #1876f2b6;
}

.first-rowd p {
  margin: 0px 0 0 36px;
  color: #432c26;
  width: 90%;
  font-size: 16px;
  font-weight: 700px;
}

.menu-item:hover .dropdown {
  display: block;
}

.dropdown-search {
  width: 900px;
  height: 40px;
  display: flex;
  align-items: center;
  background: #f3f4f6;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 6px 10px;
  margin-bottom: 20px;
}

.dropdown-search input:focus {
  border: none;
  outline: none;
}

.dropdown-search:focus-within {
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

.dropdown-search input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  padding: 6px;
}

.dropdown-search button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}





.right {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 17px;
}


.na-btn {
  color: white;
  background-color: #e60278;
  height: 40px;
  width: 130px;
  border-radius: 7px;
  border: 2px solid #9f0052;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.na-btn:hover {
  background-color: #9f0052;
}

.dashboard-profile {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Arial, sans-serif;
}

.profile-pics {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-infos {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.balance {
  color: white;
  font-size: 14px;
  margin-top: 3px;
}

.n-two {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #232a35;
  align-items: center;
  padding: 10px 300px 10px 210px;

  justify-content: space-between;
}

.n-two p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.n-two p:hover {
  background-color: grey;
}

.menu-item-m:hover .dropdown-m {
  display: block;
}

.menu-item-m {
  position: relative;
  display: inline-block;

}

.dropdown-m {
  position: absolute;
  top: 100%;
  left: -150px;
  background: #fff;
  color: #000;
  width: 26vw;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 999;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.recents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recents span {
  font-weight: bold;
  font-size: 17px;
}

.recents a {
  text-decoration: none;
  color: #00a6ed;
}

.recents a:hover {
  text-decoration: underline;
}

.do-not p {
  color: black;
}

.do-not {
  margin-top: 15px;
}

.do-not span {
  color: #3B82F6;
}

.fav-list {
  display: grid;
  gap: 12px;
  margin-top: 18px;
}

.fav-list svg,
.fav-list p {
  display: inline-flex;
  vertical-align: middle;
}

.fav-list p {
  margin-left: 8px;
  display: inline-block;
  color: black;
}

.group-ps p {
  color: black;
  font-weight: 800px;
  font-size: 17px;
}

.group-ps {
  margin-top: 20px;

}

.big-ic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.menu-item-mess:hover .dropdown-mess {
  display: block;
}

.menu-item-mess {
  position: relative;
  display: inline-block;

}

.dropdown-mess {
  position: absolute;
  top: 100%;
  left: -150px;
  background: #fff;
  color: #000;
  width: 26vw;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 999;
  height: auto;
  min-height: 500px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 15px;
}

.connec {
  color: black;
  margin-top: 30px;
}

.connec span {
  color: #00a6ed;
}

.menu-item-acc:hover .dropdown-acc {
  display: block;
}

.menu-item-acc {
  position: relative;
  display: inline-block;

}

.dropdown-acc {
  position: absolute;
  top: 100%;
  left: -120px;
  background: #fff;
  color: #000;
  width: 24vw;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 999;
  height: auto;
  max-height: 590px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;

}

.inner .hedit {
  margin-top: 10px;
}

.ass {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 25px 0px 0px 0px;
}

.ass a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.ass a:hover {
  color: #00a6ed;
}

.ass a svg {
  fill: currentColor;
}

.ass .app {
  font-size: 14px;
  margin-left: 20px;
}

.sec-one {
  background: white;
  height: 198vh;
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 300px;
  padding: 20px;
  line-height: 1.95;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 20px;
  padding: 8px;
}

.sidebar li:hover {
  border-left-color: gray;
}

.sidebar li {
  border-left: 5px solid transparent;
  padding-left: 8px;
  transition: border-color 0.3s;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  display: block;
}

.sidebar ul li:first-child a {
  color: #1976f9;
  font-weight: bold;
  border-left: 5px solid #1976f9;
  padding-left: 12px;
  height: 40px;
}

.main {
  padding: 20px 40px;
  width: 65%;
}

.main .card {
  background: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 7px;
}

h2 {
  font-size: 20px;
  margin-bottom: 1px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  margin: 25px 0 10px;
  font-weight: 700;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-control label {
  font-size: 15px;
  margin: 13px 0px 7px 0px;
  color: #333;
  font-weight: 700;
}


.form-group {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;

}

.form-group input,
.form-group select {
  flex: 1;
  padding: 10px;
  border: 1px solid #dbe0e7;
  border-radius: 3px;
}

.form-group input:focus,
.form-group select:focus {
  border: 1px solid #1976f9;
  outline: none;
}

.add:focus {
  outline: none;
}

.add {
  flex: 1;
  padding: 10px;
  border: 1px solid #dbe0e7;
  border-radius: 3px;
}



.note {
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
  line-height: 1.5;
}

.note a {
  color: #00a6ed;
  text-decoration: none;
}

.note a:hover {
  text-decoration: underline;
}

.save-btn {
  background: #1976f9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
}

.section {
  margin-top: 40px;
}

.section p {
  font-size: 14px;
  margin-bottom: 10px;
}

.setup-btn {
  border: 1px solid #454a5d;
  background: #fff;
  color: #454a5d;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
}

.setup-btn:hover {
  background-color: #56596644;
}

.settings-h {
  background-color: #dbe0e7;
  margin: 20px -30px 0px -30px;
  border: none;
  height: 1px;
}

.settings-hs {
  background-color: #f2f4f7;
  margin: 45px -30px 0px -30px;
  border: none;
  height: 1px;

}


.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 850px;

}

.select-wrapper select {
  width: 100%;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #eef0f4;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.select-wrapper i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
}

.wide-select {
  width: 100%;
  max-width: 440px;
  height: 39px;
  border-radius: 3px;
  font-size: 16px;
  border: 1px solid #dbe0e7;

}

.wide-select:focus {
  border: 1px solid #1976f9;
  outline: none;
}


.first-footer {
  background-color: #12151b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 25px 10px;
  flex-wrap: wrap;
  position: relative;
  margin-top: 120px;
}

.free,
.sec-free {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  min-width: 150px;
}


.free img {
  height: 36px;
  width: auto;
  margin-bottom: 15px;
}

.sec-free h5 {
  font-size: 17px;
  font-weight: 650;
  margin: 0 0 15px 0;
}

.sec-free p {
  margin: 4px 0;
  line-height: 0.5;
  font-size: 17px;
  font-weight: 500;
}

.sec-free a {
  text-decoration: none;
  color: white;
}

.sec-free a:hover {
  color: #29b2fe;
  text-decoration: underline;
}

.free p svg {
  margin-right: 9px;
}

.sec-free button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  background-color: #12151b;
  color: #fff;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px 13px;
  margin: 0px 0px 12px 0px;
  height: 40px;
}

.sec-free button img {
  width: 28px;
  height: auto;
}

.sec-free button .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

.sec-free button .text small {
  font-size: 11px;
  font-weight: 400;
}

.sec-free button .text strong {
  font-size: 16px;
  font-weight: 600;
}

.first-footer .footer-divider {
  width: 90%;
  border: none;
  height: 1px;
  background-color: grey;
  margin-top: 40px;
  margin: 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  font-size: 14px;
  color: white;
  font-weight: 500;
  margin-top: 0;

}

.footer-bottom p {
  margin: 0;
  line-height: 1.4;
}

.footer-bottom strong {
  color: #fff;
}

.app-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-icons {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;
}

.footer-icons i {
  width: 40px;
  height: auto;
  font-size: 21px;
  transition: color 0.3s ease;


}

.footer-icons .fa-facebook:hover {
  color: #1877F2;
}

.footer-icons .fa-twitter:hover {
  color: #1DA1F2;
}

.footer-icons .fa-instagram:hover {
  color: purple;
}

.footer-icons .fa-youtube:hover {
  color: red;
}

.mobile-navbar {
  display: none;
}

.updates {
  width: 100%;
  height: 96vh;
  background-color: rgba(0, 255, 136);
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  overflow: auto;
  z-index: 1;
  scrollbar-width: none;
  color: black;
}

.click:focus-within .updates {
  display: block;
}

.click {
  -webkit-tap-highlight-color: transparent;
}

.nav-right button {
  background-color: transparent;
  outline: none;
  border: none;
}

.every {
  padding: 20px 0px 0px 20px;
}

.pro {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pro img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.name {
  flex-direction: column;
  display: flex;
  gap: 5px;
}

.name h4 {
  font-size: 15px;
  color: black;
}

.pro p {
  font-size: 15px;
}

.sec-pro {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 0px;
}

.sec-pro a:hover {
  color: #1DA1F2;
}

.sec-pro:hover {
  color: #1DA1F2;
}

.sec-pro svg {
  fill: currentColor !important;
}

.sec-pro a {
  text-decoration: none;
  color: #000;
}

.view-prof {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 9px;
}

.view-prof p {
  font-size: 15px;
}

.res-hr {
  margin: 20px 25px 0px 0px;
  color: #c1cad6;
}

.input-wrapper {
  position: relative;
  flex: 1;
}

.lang-input {
  width: 26%;
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin: 0px 0px 0px 73%;
}

.input-wrapper svg {
  position: relative;
  bottom: 42%;
  left: 90%;
}

.app p {
  display: flex;
  justify-content: center;
  padding: 25px 0px 50px 0px;
}

@media (max-width: 1289px) {

  .dropdown-search {
    max-width: 750px;
    padding: 4px 8px;
  }

  .dropdown-search input {
    font-size: 13px;
    padding: 4px 6px;
    width: 100%;
  }

  .dropdown-search svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 1140px) {
  nav:not(.mobile-navbar) {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    padding: 10px 5px;

  }

  .nav-right {
    flex-direction: row;
    display: flex;
    gap: 20px;
  }

  .icon {
    position: relative;
    font-size: 18px;
    cursor: pointer;
  }

  .badge .count {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #ff007f;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
  }

}

@media (max-width: 768px) {
  nav:not(.mobile-navbar) {
    display: none;
  }

  section.n-two {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f1217;
    color: white;
    padding: 30px 15px;
    font-family: Arial, sans-serif;
  }

  .nav-left {
    display: flex;
    flex-direction: column;
  }

  .pls-d {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .text-stack {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .titles {
    font-weight: bold;
    font-size: 20px;
  }

  .subtitle {
    font-size: 15px;
    color: #fff;
  }

  .nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .icon {
    position: relative;
    font-size: 18px;
    cursor: pointer;
  }

  .badge .count {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #ff007f;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
  }

  .first-footer {
    display: none;
  }

}


@media (max-width: 841px) {
  .sec-one {
    background: white;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
  }

  .sidebar ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    overflow: auto;
    scrollbar-width: none;
    flex-wrap: nowrap;
  }

  .sidebar ul li {
    margin: 5px;
    padding: 1px 2px;
    border-left: none;
    white-space: nowrap;

  }

  .sidebar li:hover {
    border-top-color: gray;
    border-bottom: none;
  }

  .sidebar ul li:hover {
    border-bottom: 3px solid rgba(61, 93, 152, 0.718);
  }

  .sidebar ul li:first-child a {
    color: #1976f9;
    font-weight: bold;
    border-bottom: 3px solid #1976f9;
    padding-right: 12px;
    height: 30px;
    border: none;
    border-bottom: 5px solid #1976f9;

  }

}














@media (max-width: 1140px) {
  .nov {
    display: none;
  }

  .hamburgar {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .egusi {
    display: flex;
    position: fixed;
    z-index: 1;
    bottom: 0;
  }

}

@media (max-width: 1024px) {
  .main {
    width: 85%;
    padding: 15px 20px;
  }

  .form-group {
    gap: 15px;
  }

  .form-group input,
  .form-group select,
  .add,
  .wide-select {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .main {
    width: 95%;
    padding: 15px;
  }

  .form-group {
    flex-direction: column;
    gap: 10px;
  }

  .form-group input,
  .form-group select,
  .add,
  .wide-select {
    width: 100%;
  }

  .select-wrapper {
    max-width: 100%;
  }

  .save-btn,
  .setup-btn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .main {
    width: 100%;
    padding: 10px;
  }

  h2,
  h3 {
    font-size: 18px;
  }

  .form-control label {
    font-size: 14px;
  }

  .form-group input,
  .form-group select,
  .add,
  .wide-select {
    font-size: 14px;
    padding: 8px;
  }

  .note {
    font-size: 13px;
  }

  .save-btn,
  .setup-btn {
    padding: 10px;
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  .main {
    padding: 8px;
  }

  h2,
  h3 {
    font-size: 16px;
  }

  .form-group input,
  .form-group select,
  .add,
  .wide-select {
    font-size: 13px;
    padding: 7px;
  }
}